<launch> 

    <!-- ARGUMENTS -->
    <arg name="autostart" default = "true"/> 
    <arg name="is_robot_publisher_on" default = "true"/> 

    <!-- PARAMS -->
    <param name="autostart" value="$(arg autostart)"/>
    <param name="is_robot_publisher_on" value="$(arg is_robot_publisher_on)"/> 

    <!-- ACTION LIB NODES -->
    <node pkg="pokemon_exploration" type="server.py" name="server" />

    <!-- PID NODES -->
    <node name="controller" pkg="pid" type="controller" ns="steering" output="screen" >
        <param name="node_name" value="steering_pid" />
        <param name="Kp" value="-6.5" />
        <param name="Ki" value="-0.1" />
        <param name="Kd" value="-2.8" />
        <param name="upper_limit" value="0.4" />
        <param name="lower_limit" value="-0.4" />
        <param name="windup_limit" value="10" />
        <param name="cutoff_frequency" value="20" />
        <param name="max_loop_frequency" value="105.0" />
        <param name="min_loop_frequency" value="95.0" />
        <param name="setpoint_timeout" value="-1.0" />
    </node>
    <node pkg="pokemon_exploration" type="controller.py" name="turtlebot3_node" ns="steering"/>
    
    <node name="controller" pkg="pid" type="controller" ns="velocity" output="screen" >
        <param name="node_name" value="veolcity_pid" />
        <param name="Kp" value="-3.5" />
        <param name="Ki" value="-0.01" />
        <param name="Kd" value="-0.0" />
        <param name="upper_limit" value="0.15" />
        <param name="lower_limit" value="-0.15" />
        <param name="windup_limit" value="10" />
        <param name="cutoff_frequency" value="20" />
        <param name="max_loop_frequency" value="105.0" />
        <param name="min_loop_frequency" value="95.0" />
        <param name="setpoint_timeout" value="-1.0" />
    </node>
    <node pkg="pokemon_exploration" type="controller.py" name="turtlebot3_node" ns="velocity"/>
    
    <!-- GAZEBO NODES -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="x_pos" default="2.1"/>
    <arg name="y_pos" default="-2.7"/>
    <arg name="z_pos" default="0"/>  
    <arg name="yaw"   default=" 1.557316"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find pokemon_simulator)/worlds/pokemon_maze_cs405.world"/>
    </include>
      <param name="robot_description" command="$(find xacro)/xacro $(find mycar_description)/urdf/turtlebot3.kinect.xacro" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) -param robot_description" />


    <!-- ROBOT STATE NODES -->
    <arg name="multi_robot_name" default=""/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
             if="$(arg is_robot_publisher_on)">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="$(arg multi_robot_name)"/>
    </node>
    <!-- UNUSED NOW-->>
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen">
      <remap from="image" to="/kinect/depth/image_raw" />
      <remap from="camera_info" to="/kinect/depth/camera_info" />
      <remap from="scan" to="/kinect/scan" />
      <param name="output_frame_id" value="/kinect_link" />
    </node>

    <!-- FILTERING NODES -->   
    <node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter">
        <remap from="scan" to="/scan" />
        <rosparam command="load" file="$(find pokemon_exploration)/config/wall_at_left.yaml" />
        <remap from="scan_filtered" to="/scan_filtered" />
    </node>
</launch>